/*Global*/
* {
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    width: 100%;
}

section {
    position: fixed;
    align-self: top;
    height: 100vh;
}

h1 {
    color: #00838f;
}

h2 {
    color: #00838f;
    font-size: smaller;
}

/*App Bar*/
.headbar {
    background-color: #eeeeee;
    color: #00838f;
    height: 66px;
    line-height: 66px;
    padding: 0px 20px 0px 20px;
}

.headbar img {
    background-color: #00838f;
}

/*Chat Area*/
#chat-area {
    margin-top: 10px;
}

#family {
    display: inline;
}

#chat-view {
    left: 400px;
    width: calc(100% - 400px);
}

.selected {
    background-color: lightgrey;
    border-right: 5px solid #00838f;
}

.incoming-message {
    
    width:75%;
}

.outgoing-message {
    width:75%;
    color: white;
    background-color: #00838f;
}

/*Channel Area*/
#channel-view {
    width: 399px;
    height:100vh;
    border-right: 1px solid grey;
}
.channel-list {
    list-style-type: none;
    text-transform: uppercase;
    background-color: white;
    color:#00838f;
    font-weight: bold;
}
li {
    text-transform: initial;
    font-weight: initial;
    color:black;
    box-sizing: border-box;
    padding: 22px;
    height: 66px;
}

.channel-name {
    font-weight:bolder;
}

#top-left-header {
    background-color: lightgrey;
}

/*Messages*/
p {
    background-color: #eeeeee;
}
button {
    background-color: #00838f;
    color: #ffffff;
    text-transform: uppercase;
    font-size: larger;
}

.name {
    background-color: #eeeeee;
    width: 75%;
}